[submodule "telemetry"]
	path = telemetry
	url = https://github.com/BenDol/Claude-Dock-Telemetry.git
	update = none
	dirty = ignore
[submodule "crashes"]
	path = crashes
	url = https://github.com/BenDol/Claude-Dock-Crashes.git
	update = none
	dirty = ignore
